.tableDataContainer {
    margin: 0 0 1rem 0;
    padding: 0;
}

.hasRows {
    display: flex;
    flex-direction: column;
}

.th, .td {
    border: 2px solid black;
}

.caption {}

.captionText {
    border-bottom: none;
}

.captionText {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 0.25rem;
    background-color: #ec1d24;
}

.bottomCaption {
    order: 2;
}

.standAloneCaption {
    border: 2px solid black;
    margin: 0.5rem 0 0 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.thead {
    font-size: 1.25rem;
    color: white;
    background-color: #4c4c4c;
}

.tr {}

.tr:nth-child(even) {
    background-color: #f0f0f0;
}

.th {}

.thBlank {
    background-color: white;
    border-left: none;
    border-top: none;
}

.th, td {
    padding: 0.5rem;
}

.tbody {}

.td {
    text-align: center;
}

.tdBold {
    font-weight: bold;
}

.tdLink {
    color: black;
}

.highlightCell {
    background-color: #d2d2d2;
}

.highlightHeader {
    color: white;
    background-color: #ec1d24;
}

[data-cell*="col-0"] {
    font-weight: bold;
}